@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-50: #fff5ec;
  --color-brand-100: #ffe7d3;
  --color-brand-300: #ffb47a;
  --color-brand-400: #ff8f40;
  --color-brand-500: #FF6B00;
  --color-brand-600: #ea5500;
  --color-brand-700: #c23f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
